* {
    margin: 0;
    box-sizing: border-box;
}


.form_container {
    background-color: gainsboro;
    padding: 20px;
    text-align: center;

}

input[type="text"] {
    display: inline-block;
    font-size: medium;
    width: 80%;
    margin: 5px;
    padding: 5px;
    border: 1px solid darkgray;

}

input[type="submit"] {
    width: 80%;
    padding: 8px;
    margin: 5px;
    text-align: center;
    font-size: medium;
    background-color: darkviolet;
    color: white;
    border: 1px solid white;
    
}

input[type="submit"]:hover {
    background-color: rgb(174, 115, 204);
    border: 1px solid darkviolet;
}